<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RubyRailsDokkuSample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :style %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :script %>
    <%= javascript_pack_tag 'hello_vue' %>
  </head>

  <body>
    <%= render 'application/header' %>
    <div class="container">
      <div class="row">
        <div class="content" id="content">
        <%= yield %>
        </div>
      </div>
      <%= render 'application/footer' %>
    </div>
    <%= render 'application/modals' %>
  </body>
</html>
